.new-collection
	text-align: center
	padding: 45px 0 35px
	&__title
		+title
		font-size: 35px
		line-height: 51px
		padding-bottom: 25px
		margin-bottom: 25px
		position: relative
		&::after
			content: ''
			position: absolute
			width: 250px
			height: 1px
			bottom: 0
			left: 0
			right: 0
			margin: 0 auto
			background: #607278
	&__text
		max-width: 730px
		margin: 0 auto 30px
.collection
	display: grid
	grid-template-columns: repeat(5, 1fr)
	grid-gap: 30px
	padding-bottom: 70px
	&__item
		position: relative
		&:hover
			.collection__info
				opacity: 1
	&__images
		min-height: 350px
		object-fit: cover
	&__info
		+absolute-all(0)
		background-color: rgba(255, 255, 255, 0.7)
		padding: 10px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		transition: $trs
		opacity: 0
	&__info-title
		+title
		font-size: 20px
		line-height: 25px
		padding-bottom: 19px
		margin-bottom: 19px
		position: relative
		&::after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 1px
			width: 80%
			background: #6d7278
			margin: 0 auto
	&__info-text
		font-size: 14px
		font-weight: 600
		color: #707070
