// Fonts
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
$regular-font: "open-sans", $helvetica
$secondary-font: "montserrat", $helvetica

// Transition
$trs: all 0.5s ease-in-out

// Colors
$white-color: #fff
$dark-color: #363838
$text-color: #5a5a5a
$link-color: rgba(54, 56, 56, 0.9)
$light-grey: #9daeb6
$accent: #f5851f
