footer.footer
	.footer__content
		.container
			.footer__inner
				.footer__info
					h6.footer__info-title Contact Us
					p.footer__info-text Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
					a.footer__info-mail(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
					form.footer__form
						input(type="email", placeholder="Subscribe by email").footer__form-input
						button(type="submit").footer__form-button Send
				ul.footer__social
					li.footer__social-item
						a.footer__social-link.footer__social-link--facebook(href="#") Facebook
					li.footer__social-item
						a.footer__social-link.footer__social-link--instagram(href="#") Instagram
					li.footer__social-item
						a.footer__social-link.footer__social-link--pinterest(href="#") Pinterest
					li.footer__social-item
						a.footer__social-link.footer__social-link--whatsapp(href="#") WhatsUP
					li.footer__social-item
						a.footer__social-link.footer__social-link--youtube(href="#") Youtube
				nav.footer__menu
					ul.footer__menu-list
						li.footer__menu-item
							a.footer__menu-link(href="#") Delivery
						li.footer__menu-item
							a.footer__menu-link(href="#") FAQ
						li.footer__menu-item
							a.footer__menu-link(href="#") Help
						li.footer__menu-item
							a.footer__menu-link(href="#") More About Us
	.footer__copyright 674 Gonzales Drive.   Washington, PA 15301