header.header
	.container
		.header__inner
			+menu('menu', [{
    'title': 'About',
    'url':'about.html'
    }, {
    'title': 'Gallery',
    'url': 'gallery.html'
    }], 0 )
			a(href="#").logo
				img(src="assets/img/logo.png", alt="logo")
				+menu('menu', [{
    'title': 'Blog',
    'url':'blog.html'
    }, {
    'title': 'Contact',
    'url': 'contact.html'
    }] )
			button.header__btn
				+img('icons/icon-menu.svg','' , 'icon menu')
			include ../elements/_rightside-menu
