header.header
	.container
		.header__inner
			nav.menu
				ul.menu__list
					li.menu__list-item
						a(class="menu__list-link" href="#") About
					li.menu__list-item
						a(class="menu__list-link" href="#") Gallery
			a(href="#").logo
				img(src="assets/img/logo.png", alt="logo")
			nav.menu
				ul.menu__list
					li.menu__list-item
						a(class="menu__list-link" href="#") Blog
					li.menu__list-item
						a(class="menu__list-link" href="#") Contact
			button.header__btn
				+img('icons/icon-menu.svg','' , 'icon menu')

