header.header
	.container
		.header__inner
			+menu('menu', [{
    'title': 'About',
    'url':'about.html'
    }, {
    'title': 'Gallery',
    'url': 'gallery.html'
    }], 0 )
			a(href="#").logo
				img(src="assets/img/logo.png", alt="logo")
			nav.menu
				ul.menu__list
					li.menu__list-item
						a(class="menu__list-link" href="#") Blog
					li.menu__list-item
						a(class="menu__list-link" href="#") Contact
			button.header__btn
				+img('icons/icon-menu.svg','' , 'icon menu')
			include ../elements/_rightside-menu
