.main
	include ../elements/home/_top-slider
	include ../elements/home/_new-collection
	include ../elements/home/_decor
	include ../elements/home/_work-path
	include ../elements/home/_gallery
	include ../elements/home/_blog-box