.header
	&__inner
		display: flex
		justify-content: space-between
		align-items: center
		height: 120px
	&__btn
		background-color: transparent
		border: none
		padding: 0
		cursor: pointer
.logo
	margin: auto
.menu
	padding-left: 15px
	&__list
		display: flex
	&__list-item
		padding-left: 35px
		padding-right: 45px
	&__list-link
		font-family: $secondary-font
		font-weight: 700
		line-height: 22px
		color: $link-color
		&--active
			padding-bottom: 4px
			position: relative
			&::after
				content: ''
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 2px
				border-radius: 1px
				background-color: rgba($dark-color, 0.7)