section.blog-box
	.container
		h3.blog-box__title More inspiration ideas in our blog
		.blog-box__items
			.blog-box__item
				a(href="#").blog-box__img-link
					+img('blog/1.jpg','blog-box__img' , 'images')
				.blog-box__links
					span.blog-box__date March 12, 2020 |
					a(href="#").blog-box__author by Ann Summers |
					a(href="#").blog-box__theme Inrerior
				a(href="").blog-box__item-title-link
					h6.blog-box__item-title Listicle actually selvage activated charcoal for the drinking vinegar
			.blog-box__item
				a(href="#").blog-box__img-link
					+img('blog/2.jpg','blog-box__img' , 'images')
				.blog-box__links
					span.blog-box__date September 28,2020 |
					a(href="#").blog-box__author by Finnagan Morningstar |
					a(href="#").blog-box__theme Dining room interior
				a(href="").blog-box__item-title-link
					h6.blog-box__item-title Red selfies edison bulb four dollar toast humblebrag

