section.decor
	.container
		h2.decor__title Aesthetic ethical drinking
		p.decor__text Deep v you probably haven't heard of them banh mi synth actually affogato. Artlyft ethical the one drinking vinegar austint
