.gallery
	.container-fluid
		.gallery__buttons
			button(data-filter=".bedroom").gallery__btn Bedroom furniture
			button(data-filter=".living").gallery__btn Living room furniture
			button(data-filter=".office").gallery__btn Office furniture
			button(data-filter=".dining").gallery__btn Dining room futniture
			button(data-filter=".chair").gallery__btn Chair
		.gallery__inner
			.gallery__items.mix.bedroom
				a(href="#").gallery__item
					+img('gallery/1.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/2.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/3.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/4.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/5.jpg','' , 'images')
			.gallery__items.mix.living
				a(href="#").gallery__item
					+img('gallery/1.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/2.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/3.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/4.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/5.jpg','' , 'images')
			.gallery__items.mix.office
				a(href="#").gallery__item
					+img('gallery/1.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/2.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/3.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/4.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/5.jpg','' , 'images')
			.gallery__items.mix.dining
				a(href="#").gallery__item
					+img('gallery/1.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/2.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/3.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/4.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/5.jpg','' , 'images')
			.gallery__items.mix.chair
				a(href="#").gallery__item
					+img('gallery/1.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/2.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/3.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/4.jpg','' , 'images')
				a(href="#").gallery__item
					+img('gallery/5.jpg','' , 'images')
