section.new-collection
	.container-fluid
		h3.new-collection__title Furniture new collection
		p.new-collection__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
		.collection
			a(href="#").collection__item
				+img('content/collection-1.jpg','.collection__images' , 'images')
				.collection__info
					h6.collection__info-title Truffaut literally trust
					p.collection__info-text Living room furntiture | Chair
			a(href="#").collection__item
				+img('content/collection-2.jpg','.collection__images' , 'images')
				.collection__info
					h6.collection__info-title Truffaut literally trust
					p.collection__info-text Living room furntiture | Chair
			a(href="#").collection__item
				+img('content/collection-3.jpg','.collection__images' , 'images')
				.collection__info
					h6.collection__info-title Truffaut literally trust
					p.collection__info-text Living room furntiture | Chair
			a(href="#").collection__item
				+img('content/collection-4.jpg','.collection__images' , 'images')
				.collection__info
					h6.collection__info-title Truffaut literally trust
					p.collection__info-text Living room furntiture | Chair
			a(href="#").collection__item
				+img('content/collection-5.jpg','.collection__images' , 'images')
				.collection__info
					h6.collection__info-title Truffaut literally trust
					p.collection__info-text Living room furntiture | Chair

