section.new-collection
	.container-fluid
		h3.new-collection__title Furniture new collection
		p.new-collection__text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
		include _collection-gallery

