.top
	.top__inner
		.top__slider
			.top__slider-item
				+img('content/slider-img.png','top__slider-img' , 'images')
				.top__slider-info
					h2.top__slider-title Furniture collection
					p.top__slider-text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
			.top__slider-item
				+img('content/slider-img.png','top__slider-img' , 'images')
				.top__slider-info
					h2.top__slider-title Furniture collection
					p.top__slider-text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
			.top__slider-item
					+img('content/slider-img.png','top__slider-img' , 'images')
					.top__slider-info
						h2.top__slider-title Furniture collection
						p.top__slider-text Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint

