section.work-path
	.container
		h3.work-path__title How it works
		.work-path__items
			.work-path__items-box
				.work-path__item.work-path__item--consultation
					+img('icons/graphic-tools-icon.svg','work-path__item-img' , 'icon')
					h6.work-path__item-title Designer Consultation
					p.work-path__item-text Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche
				.work-path__item.work-path__item--production
					+img('icons/sofa-icon.svg','work-path__item-img' , 'icon')
					h6.work-path__item-title Production
					p.work-path__item-text Everyday carry actually neutra authentic kogi shabby chic
			.work-path__item.work-path__item--measuring
				+img('icons/measuring-icon.svg','work-path__item-img' , 'icon')
				h6.work-path__item-title Measurements
				p.work-path__item-text Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche

