extends ../_template

block variables
	- var title = 'Desire | Furniture collection'
	- var pageClass = 'index-page'

block content
	.wrapper
		include ../common/_header
		include ../elements/blog/_blog-main
		include ../common/_footer

block script