extends ../_template

block variables
	- var title = 'Desire | Furniture collection'
	- var pageClass = 'index-page'

block content
	//- include ../elements/_debug
	include ../common/_header

block script



