.rightside-menu.rightside-menu--close
	button.rightside-menu__close
		+img('icons/icon-close.svg')
	.rightside-menu__content
		a.rightside-menu__logo(href="#")
			+img('logo-big.png','' , 'logo')
		h4.rightside-menu__title Furniture for life
		p.rightside-menu__text Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
		+img('rightside-img.jpg', 'rightside-menu__images', 'images')
